<!-- <div class="card">
    <div id="viewAll" class="card-body table-responsive">
        <form asp-controller="userroles" method="post" asp-action="update" asp-route-id="@Model.UserId" class="d-inline">
            <input asp-for="@Model.UserId" type="hidden" />
            <table class="table table-striped" id="userRolesTable">
                <thead>
                    <tr>
                        <th>
                            Role
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.UserRoles.Count(); i++)
                    {
                        <tr>
                            <td>
                                <input asp-for="@Model.UserRoles[i].RoleName" type="hidden" />
                                @Model.UserRoles[i].RoleName
                            </td>
                            <td>
                                <div class="form-check m-1">
                                    <input asp-for="@Model.UserRoles[i].Selected" class="form-check-input" />
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-sm-12" style=" padding: 20px 20px 0px 0px">
                <button type="submit" id="save" class="btn bg-primary">
                    <i class="fa fa-check"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
</div> -->

<div>
    <br />
    <div class="row">
      <div class="col">
        <h3>Update User</h3>
      </div>
      <div class="col text-right">
        <a href="#" routerLink="/admin/user-list" class="btn btn-secondary btn-sm">Back To Users</a>
      </div>
    </div>
    <br />
    <form [formGroup]="service.formModel" (ngSubmit)="onSubmit()" autocomplete="off">

        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                  <th>Role</th>
                  <th>Status</th>
                  <th width="200px"></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{ this.role }}</td>
                        <td>
                                <!-- <input class="custom-control-input" formControlName="Role"
                                 type="radio" value="{{v}}" name="Role" > -->
                                    <select formControlName="Role"
                                            class="form-control">
                                      <option value="">- Select -</option>
                                      <option *ngFor="let v of rolesArr" value="{{v}}">
                                        {{v}}
                                      </option>
                                    </select>
                        </td>
                    </tr>
            </tbody>
        </table>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>