<div>
    <br />
    <div class="row">
      <div class="col">
        <h3>Update Musician</h3>
      </div>
      <div class="col text-right">
        <a href="#" routerLink="/admin/musician-list" class="btn btn-secondary btn-sm" id="button3">Back To Musicians List</a>
      </div>
    </div>
    <br />
    <form [formGroup]="service.musicianForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <input formControlName="Id" id="id" type="hidden" [ngModel]="this.id"/>

      <div class="form-group">
        <label for="LastName">LastName: </label>
        <input formControlName="LastName"
               id="LastName"
               type="text"
               class="form-control" />
      </div>
      <div class="form-group">
        <label for="FirstName">FirstName: </label>
        <input formControlName="FirstName"
               id="FirstName"
               type="text"
               class="form-control" />
      </div>
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input formControlName="BirthDate" type="text"
                id="BirthDate"
              class="form-control"
              placeholder="Datepicker"
              bsDatepicker>
      </div>
      <div class="form-group">
        <label for="BirthPlace">BirthPlace: </label>
        <input formControlName="BirthPlace"
               id="BirthPlace"
               type="text"
               class="form-control" />
      </div>
      

      <button class="btn btn-primary" type="submit" [disabled]="!service.musicianForm.valid">Update</button>
    </form>
  </div>