<div class="loadWrapper" *ngIf="isLoading">  
  <div class="loader"></div>  
</div>
    <div>
        <div class="row">
          <div class="col">
            <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
            <h1 id="musician">
              <em>M</em>
              <em class="planet left" id="musician">U</em>
              <em>S</em>
              <em>I</em>
              <em class="planet right" id="musician">C</em>
              <em>I</em>
              <em>A</em>
              <em>N</em>
            </h1>
          </div>
          <div class="col text-right">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <a href="#" routerLink="/admin/label-list/create/" class="button2" tabindex="0"></a>
            <button style="left: 200px; top: 60px;" routerLink="/admin/musician-list/create/" class="glow-on-hover" type="button">
              Create New</button>
          </div>
        </div>
        <br /> 
        <div class="album py-5">
          <div class="container">
              <div class="row">
                      <table class="table table-hover">
                      <thead>
                    <tr class="bg-primary">
                      <th scope="col">Last Name</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Birth Date</th>
                      <th scope="col">Birth Place</th>
                      <th scope="col">Groups</th>
                      <th width="200px"></th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr class="table-dark" *ngFor="let ar of Data">
                      <td>{{ ar.lastName }}</td>
                      <td>{{ ar.firstName }}</td>
                      <td>{{ ar.birthDate }}</td>
                      <td>{{ ar.birthPlace }}</td>
                      <td>
                        <button class="btn btn-danger" (click)="triggerModal(modalData)">Groups</button>

                        <ng-template #modalData let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Did join?</h4>
                            <button  class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">x</span>
                            </button>
                          </div>
                          <div class="modal-body" *ngIf="ar.groupMembers.length !== 0; else isEmpty">
                            <ul *ngFor="let p of ar.groupMembers"><li>{{ p.joined }}</li></ul>
                          </div>
                          <ng-template #isEmpty>
                            <p style="color: black;">This section is empty!</p>
                          </ng-template>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
                          </div>
                        </ng-template>
                      </td>
                      <td>
                        <form action="">
                          <button class="button" [routerLink]="['/admin/musician-list/update/',ar.id]" id="edit">
                            <i class="fa fa-pencil-square-o"></i></button>
                          <button class="button" (click)="deleteData(ar.id)" id="trash"><i class="fa fa-trash-o"></i></button>
                        </form>
                      </td>
                    </tr>
                  </tbody>
                  </table>
              </div>
          </div>
      </div>    
    </div>