<!-- <div class="wrapper">
    <div class="wrapper-div">
        <div class="tap-header">
             <h2 routerLink='/admin/albumCreate' routerlinkActive= 'active'>Sign In</h2> -->
            <!-- <h2 routerLink='/admin/albumCrud' routerlinkActive= 'active'>Sign Up</h2>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1">  --> 
<!-- <router-outlet></router-outlet> -->
<!-- <p>

    <app-album-crud></app-album-crud>
</p> -->
      <!-- </div>
          </div>
    </div>
  </div> -->
  <div class="navbar">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <a href="/home">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Elements
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content dropdown-menu-center">
        <a href="/admin/album-list">Albums</a>
        <a href="/admin/artist-list">Artists</a>
        <a href="/admin/label-list">Labels</a>
        <a href="/admin/genre-list">Genres</a>
        <a href="/admin/recording-list">Recordings</a>
        <a href="/admin/musician-list">Musicians</a>
        <a href="/admin/group-member-list">Group Members</a>
        <a href="/admin/track-review-list">Reviews of the tracks</a>
        <a href="/admin/album-review-list">Albums` reviews</a>
      </div>
    </div>
    <a href="/admin/user-list">User List</a>
  </div>
      <!--<div class="tap-header">
        <h5 routerLink='/admin/album-list' routerlinkActive= 'active'>Album List</h5>
        <h5 routerLink='/admin/artist-list' routerlinkActive= 'active'>Artist List</h5>
        <h5 routerLink='/admin/label-list' routerlinkActive= 'active'>Label List</h5>
        <h5 routerLink='/admin/recording-list' routerlinkActive= 'active'>Recording List</h5>
        <h5 routerLink='/admin/genre-list' routerlinkActive= 'active'>Genre List</h5>
        <h5 routerLink='/admin/group-member-list' routerlinkActive= 'active'>Group Member List</h5>
        <h5 routerLink='/admin/musician-list' routerlinkActive= 'active'>Musician List</h5>
        <h5 routerLink='/admin/reviewer-list' routerlinkActive= 'active'>Reviewer List</h5>
        <h5 routerLink='/admin/album-review-list' routerlinkActive= 'active'>Album Review List</h5>
        <h5 routerLink='/admin/track-review-list' routerlinkActive= 'active'>Track Review List</h5></div>-->
        <!-- <h2 routerLink='/user/register' routerlinkActive= 'active'>Sign Up</h2> -->
      
      <!-- <div class="row">
        <div class="col-md-10 offset-md-1"> -->
          <router-outlet></router-outlet>
        <!-- </div>
      </div> -->