<div class="container">
    <br />
    <div class="row">
      <div class="col">
        <h3>Update Record</h3>
      </div>
      <div class="col text-right">
        <a href="#" routerLink="/admin/recording-list" class="btn btn-secondary btn-sm" id="button3">Back To Recordings List</a>
      </div>
    </div>
    <br />
    <form [formGroup]="service.recordingForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <input formControlName="Id" id="id" type="hidden" [ngModel]="this.id"/>

        <div class="form-group">
            <label for="Title">Title: </label>
            <input formControlName="Title"
                   id="Title"
                   type="text"
                   class="form-control" />
          </div>
       
          <div class="form-group">
            <label for="TrackNumber">TrackNumber: </label>
            <input formControlName="TrackNumber"
                   id="TrackNumber"
                   type="text"
                   class="form-control" />
          </div>
    
          <div class="form-group">
            <label for="Length">Length: </label>
            <input formControlName="Length"
                   id="Length"
                   type="text"
                   class="form-control" />
          </div>
       
          <div class="form-group">
            <label for="album-name">Album:</label>
            <select formControlName="AlbumId"
                    id="AlbumId"
                    class="form-control">
              <option value="">- Select -</option>
              <option *ngFor="let art of albumArray" [ngValue]="art.id">
                {{art.title}}
              </option>
            </select>
          </div>
      
          <div class="form-group">
            <label for="genre-name">Genre:</label>
            <select formControlName="GenreId"
                    id="GenreId"
                    class="form-control">
              <option value="">- Select -</option>
              <option *ngFor="let lab of genreArray" [ngValue]="lab.id">
                {{lab.name}}
              </option>
            </select>
          </div>
   
      <button class="btn btn-primary" type="submit" [disabled]="!service.recordingForm.valid">Update</button>
    </form>
  </div>