<div class="loadWrapper" *ngIf="isLoading">  
  <div class="loader"></div>  
</div>
    <div>
        <div class="row">
          <div class="col">
            <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
            <h1>
              <em>A</em>
              <em class="planet left">L</em>
              <em>B</em>
              <em>U</em>
              <em class="planet right">M</em>
              <em>S</em>
            </h1>
          </div>
          <div class="col text-right">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <a href="#" routerLink="/admin/album-list/create/" class="button2" tabindex="0"></a>
            <button style="left: 200px; top: 60px;" routerLink="/admin/album-list/create/" class="glow-on-hover" type="button">
              Create New</button>
          </div>
        </div>
        <br /> 
        <div class="album py-5">
          <div class="container">
              <div class="row">
                      <table class="table table-hover">
                      <thead>
                    <tr class="bg-primary">
                      <th scope="col">Title</th>
                      <th scope="col">Year of drop</th>
                      <th scope="col">Name of the artist</th>
                      <th scope="col">Name of the label</th>
                      <th scope="col">Recordings</th>
                      <th scope="col">Reviews</th>
                      <th width="200px"></th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr class="table-dark" *ngFor="let ar of Data">
                      <td>{{ar.title}}</td>
                      <td>{{ar.year}}</td>
                      <td>{{ar.artist.name}}</td>
                      <td>{{ar.label.name}}</td>
                      <td>
                        <button class="btn btn-danger" (click)="triggerModal(modalData)">Recordings</button>

                        <ng-template #modalData let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Recordings</h4>
                            <button  class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">x</span>
                            </button>
                          </div>
                          <div class="modal-body" *ngIf="ar.recordings.length !== 0; else isEmpty">
                            <ul *ngFor="let p of ar.recordings"><li>{{ p.title }}</li></ul>
                          </div>
                          <ng-template #isEmpty>
                            <p style="color: black;">This section is empty!</p>
                          </ng-template>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
                          </div>
                        </ng-template>
                      </td>
                      <td>
                        <button class="btn btn-danger" (click)="triggerModal(modalReview)">Reviews</button>

                        <ng-template #modalReview let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Reviews</h4>
                            <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body" *ngIf="ar.albumReviews.length !== 0; else isEmpty">
                            <ul *ngFor="let t of ar.albumReviews"><li>{{ t.comment }}</li></ul>
                          </div>
                          <ng-template #isEmpty>
                            <p style="color: black;">This section is empty!</p>
                          </ng-template>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
                          </div>
                        </ng-template>
                      </td>
                      <td>
                      <form action="">
                        <button class="button" [routerLink]="['/admin/album-list/update/',ar.id]" id="edit">
                          <i class="fa fa-pencil-square-o"></i></button>
                        <button class="button" (click)="deleteData(ar.id)" id="trash"><i class="fa fa-trash-o"></i></button>
                      </form>
                    </td>
                    </tr>
                  </tbody>
                  </table>
              </div>
          </div>
      </div>    
    </div>